

/* color set */
$color-orange-peel: #FF9F1C;
$color-mellow-apricot: #FFBF69;
$color-white: #FFFFFF;
$color-light-cyan: #CBF3F0;
$color-tiffany-blue: #2EC4B6;


// $color-alabaster: #F1F2EB;
// $color-timberwolf: #D8DAD3;
// $color-cambridge-blue: #A4C2A5;
// $color-ebony: #566246;
// $color-davys-grey: #4A4A48;


$color-rich-black: #0D1B2A;
$color-oxford-blue: #1B263B;
$color-bdazzled-blue: #415A77;
$color-shadow-blue: #778DA9;
$color-platinum: #E0E1DD;


$color-newyork-pink: #CC8B86;
$color-linen: #F9EAE1;
$color-tuscan-red: #7D4F50;
$color-khaki-web: #D1BE9C;
$color-grullo: #AA998F;