#sz-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    // justify-content: center;
    margin: auto;
}

#sz-contents {
    display: flex;
}

#sz-pages {
    padding: 2rem;
    display: flex;
    min-height: 100vh;

    #sz-guest-book {
        li {
            padding: 1rem;
        }
    }
}