/* header style -> import styles.scss */
header {
    display: flex;
    width: 100%;
    min-height: 60px;
    background-color: beige;

    &:hover {
        background-color: rgb(250, 193, 193);
        transition: 0.3s;
    }
}