#sz-left-menu {
    color: $color-tuscan-red;
    min-height: 100vh;
    min-width: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color:  $color-1cbcb7;
    border-right: 1px solid $color-1cbcb7;
    transition: 0.3s;
    
    &.large {
        width: 13vh;
        transition: 0.3s;
    }
    
    &.small {
        width: 3rem;
        transition: 0.3s;
    }

    #sz-left-menu-head {
        height: 10rem;
        background-color: $color-white;
        
        #sz-left-menu-btn {
            color: #ffffff;
            width: 2rem;
            height: 2rem;
            background-color: $color-1cbcb7;
            border: none;
        }
    }

    #sz-left-menu-body {
        li {
            padding: 1rem;
            color: $color-white;

            &:hover{
                cursor: pointer;
                color: $color-1cbcb7;
                background-color: $color-white;
            }
        }
    }

    #sz-left-menu-footer {

    }
}
