#sz-left-menu {
    color: $color-tuscan-red;
    min-height: 100vh;
    min-width: 13vh;
    padding: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: $color-linen;
    border-right: 1px solid $color-khaki-web;
}
