// import in pages.scss
#ma-dashboard {
    display: flex;
    
    .dashboard-card {
        display: flex;
        flex-direction: column;
        height: 200px;
        width: 300px;
        margin: 2rem;
        justify-content: center;
        align-items: center;
        border: 1px solid gainsboro;
        border-radius: 2px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.15), 0 5px 5px rgba(0,0,0,0.12);
        transition: 0.1s;

        &:hover {
            cursor: pointer;
            margin-top: 40px;
            transition: 0.5s;
        }
    }

    .bg-typescript {
        background-image: url('/imports/assets/img/icon-typescript.png');
        background-size: contain;
        background-repeat: no-repeat;
    }
}