
#sz-guestbook-list {
    li {
        display: inline-block;
        min-width: 20rem;
        padding: 1rem;
        margin-right: 1rem;
        margin-bottom: 1rem;
        border: 1px solid gainsboro;

        .sz-guestbook-head {
            
        }
        .sz-guestbook-body {

        }
        .sz-guestbook-footer {

        }
    }
}
