
#ma-pages {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: -webkit-fill-available;
    padding: 4.5rem;

    // 페이지 제목
    h1.page-title {
        font-size: 3rem;
    }

    // 페이지 서브 제목
    .page-subtitle {
        margin-top: 2rem;
        margin-bottom: 1rem;
        font-size: 1.5rem;
    }
    
    &>div {
        animation: fade-in 0.5s alternate;
    }

    @import 'dashboard', 'guestbook', 'chat', 'mypage';
}