

.btn-default {
    color: black;
    min-width: 1.5rem;
    min-height: 2rem;
    font-size: 14px;
    background-color: white;
    border: 1px solid gainsboro;
    border-radius: 3px;

    &:hover,
    &:active,
    &.btn-default-active {
        color: white;
        background-color: rgb(71, 71, 71);
    }
}

.btn-move {
    color: blue;
    min-width: 1.5rem;
    min-height: 1.5rem;
    background-color: rgba(0,0,0,0);
    border: none;

    &:hover,
    &:active {
        background-color: gainsboro;
    }
}

.btn-remove {
    color: red;
    min-width: 1.5rem;
    min-height: 1.5rem;
    background-color: rgba(0,0,0,0);
    border: none;

    &:hover {
        cursor: pointer;
        background-color: gainsboro;
    }
}

.btn-insert {
    color: white;
    min-height: 2rem;
    margin-top: 1rem;
    background-color: gray;
    border: none;
    border-radius: 3px;

    &:hover,
    &:active,
    &.btn-default-active {
        color: white;
        background-color: rgb(71, 71, 71);
    }
}


// TOP button
#ma-btn-gotop {
    color: $color-white;
    cursor: pointer;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 2rem;
    bottom: 3rem;
    width: 4rem;
    height: 4rem;
    background-color: rgba(0,0,0,0.7);
    border-radius: 50%;
    transition: 0.3s;

    &:hover {
        bottom: 3.3rem;
        transition: 0.2s;
    }
}