// display
.cm-d-block         { display: block !important; }
.cm-d-i-block  { display: inline-block !important; }
.cm-d-flex          { display: flex !important; }

// float
.cm-f-left  { float: left; }
.cm-f-right { float: right; }

.cm-text-left   { text-align: left; }
.cm-text-center { text-align: center; }
.cm-text-right  { text-align: right; }

// width
.cm-w-500px { width: 500px; }
.cm-w-400px { width: 400px; }
.cm-w-300px { width: 300px; }
.cm-w-200px { width: 200px; }
.cm-w-150px { width: 150px; }
.cm-w-100px { width: 100px; }

.cm-w-100p  { width: 100%; }
.cm-w-90p   { width:  90%; }
.cm-w-80p   { width:  80%; }
.cm-w-70p   { width:  70%; }
.cm-w-60p   { width:  60%; }
.cm-w-50p   { width:  50%; }
.cm-w-40p   { width:  40%; }
.cm-w-30p   { width:  30%; }
.cm-w-20p   { width:  20%; }
.cm-w-25p   { width:  25%; }
.cm-w-10p   { width:  10%; }