//device size variable

// iPhone 11 Pro / X
// 375*812
$mobile-width: 1440px;
$mobile-height: 1024px;

// iPad 11
// 1024*1366
$tablet-width: 1440px;
$tablet-height: 1024px;

// Desktop
// 1440*1024
$web-width: 1440px;
$web-height: 1024px;
