// form
.cm-form {
    div {
        display: inline-block;
    }

    input {
        padding: 0.5rem 0.8rem;
        font-size: 15px;
        border: 1px solid gainsboro;
        border-radius: 3px;
    }
}