

/* color set */
$color-white: #FFFFFF;
$color-black: #999999;

$color-orange-peel: #FF9F1C;
$color-mellow-apricot: #FFBF69;
$color-light-cyan: #CBF3F0;
$color-tiffany-blue: #2EC4B6;


/* point color */
$color-1cbcb7: #1cbcb7;
$color-fe2f48: #fe2f48;

/* desktop size */
$breakpoint-mobile: 335px;
$breakpoint-tablet: 758px;
$breakpoint-desktop: 1024px;