// display
.cm-d-block         { display: block !important; }
.cm-d-inline-block  { display: inline-block !important; }
.cm-d-flex          { display: flex !important; }

// float
.cm-f-left  { float: left; }
.cm-f-right { float: right; }

.cm-text-left   { text-align: left; }
.cm-text-center { text-align: center; }
.cm-text-right  { text-align: right; }

// width
.cm-w-200px { width: 200px; }
.cm-w-150px { width: 150px; }
.cm-w-100px { width: 100px; }

.cm-w-100p  { width: 100%; }
.cm-w-50p   { width: 50%; }