@font-face {
    font-family: NanumBarunGothic;
    src: url(NanumBarunGothic.otf);
}
@font-face {
    font-family: NanumBarunGothicBold;
    src: url(NanumBarunGothicBold.otf);
}
@font-face {
    font-family: NanumBarunGothicLight;
    src: url(NanumBarunGothicLight.otf);
}
@font-face {
    font-family: NanumBarunGothicUltraLight;
    src: url(NanumBarunGothicUltraLight.otf);
}