#ma-container-outer {
    width: inherit;
    display: flex;
    flex-direction: row;
    overflow-y: auto;
    font-family: NanumBarunGothic;
}
#ma-container-inner {
    display: flex;
    flex-direction: column;
    width: -webkit-fill-available;
    font-family: NanumBarunGothic;
}