/* header style -> import styles.scss */
header#ma-header {
    color: $color-black;
    width: 100%;
    min-height: 4rem;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    // justify-content: center;
    align-items: center;
    background-color: $color-white;
    border-bottom: 1px solid gainsboro;

    &:hover {
        transition: 0.3s;
    }

    a {
       &:hover {
           cursor: pointer;
       } 
    }

    .ma-header-left {
        flex: 1;
        text-align: left;
    }

    .ma-header-center {
        flex: 1;
        text-align: center;

        a + a {
            padding-left: 1.5rem;
        }
    }

    .ma-header-right {
        flex: 1;
        text-align: right;

        a {
            color: gray;
        }

        a + a {
            padding-left: 1.5rem;
        }
    }
}