#sz-left-menu {
    color: $color-white;
    min-height: 100vh;
    min-width: 3rem;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: $color-fe2f48;
    transition: 0.3s;
    
    &.large {
        min-width: 300px;
        transition: 0.3s;
    }
    
    &.small {
        min-width: 3rem;
        transition: 0.3s;
    }

    #sz-left-menu-head {
        height: 3rem;
        
        #sz-left-menu-btn {
            color: $color-white;
            width: 3rem;
            height: 3rem;
            float: right;
            background-color: $color-fe2f48;
            border: none;
        }
    }

    #sz-left-menu-body {
        li {
            color: $color-white;
            padding: 1rem;
            transition: 0.1s;

            &:hover{
                cursor: pointer;
                color: $color-fe2f48;
                background-color: $color-white;
                transition: 0.3s;
            }

            &>a {
                color: inherit;
            }
        }
    }

    #sz-left-menu-footer {

    }
}
