#sz-left-menu {
    color: $color-white;
    // min-height: 100vh;
    min-width: 3rem;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: $color-fe2f48;
    transition: 0.3s;
    
    &.large {
        min-width: 300px;
        transition: 0.3s;
    }
    
    &.small {
        min-width: 3rem;
        transition: 0.3s;
    }

    #sz-left-menu-head {
        height: 3rem;
        
        #sz-left-menu-btn {
            color: $color-white;
            // width: 3rem;
            width: 100%;
            text-align: right;
            padding-right: 1rem;
            height: 3rem;
            float: right;
            background-color: $color-fe2f48;
            border: none;
        }
    }

    #sz-left-menu-body {
        li {
            color: #FFFFFF;
            min-height: 4rem;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            transition: 0.1s;

            &.on {
                color: blue;
            }

            &>a {
                color: inherit;
                display: block;
                width: 100%;
                min-height: inherit;
                padding: 1rem;

                &:hover{
                    color: $color-fe2f48;
                    cursor: pointer;
                    background-color: $color-white;
                    transition: 0.3s;
                }

                &.active {
                    color: $color-fe2f48;
                    cursor: pointer;
                    background-color: $color-white;
                    transition: 0.3s;
                }
            }
        }

        .left-menu-child {
            flex: 1;
            width: 100%;
            a {
                background-color: rgba(255,255,255,0.2);
            }
        }
    }

    #sz-left-menu-footer {

    }
}
